*{
    font-weight: bold;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: black;
    font-weight: bold;
    background-color: rgb(198, 198, 198);
}

.container {
    width: 100%;
    height: 100vh;
}

.box {
    width: 80vw;
    height: 35vw;
    margin: 0px;
    padding: 0px;
}
