/* Initial body tag styles. */
body {
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    font-family: serif;
}

a {
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
    margin: 0.5vw;
    margin-right: 3vw;
    background-color: blue;
    padding: 0.5vw 1vw;
    font-family: serif;
    font-size: 1vw;
    color: White;
    border-radius: 3.5vw;
}

.down-slider {}