nav {
    width: 100%;
    display: grid;
    grid-template-columns: 100fr 100fr 100fr;
}

.left-box {
    display: flex;
    align-items: center;
}

.logo img {
    width: 4vw;
    border-radius: 0%;
    margin: 1vw;
    margin-left: 3vw;
}

.middle-box {
    display: flex;
    align-items: center;
}

.navigation-box {
    display: flex;
    justify-content: center;
}

.navigation-box ul {
    display: flex;
    gap: 1vw;
}

.navigation-box ul li {
    list-style: none;
    font-size: 1vw;
    padding: 0.7vw;
    border-bottom: 0.2vw solid transparent;
    cursor: pointer;
}

.navigation-box ul li:hover {
    background-color: rgba(243, 243, 243, 0.106);
    border-radius: 0.4vw;
    border-bottom: 0.2vw solid white;
}

.right-box {
    display: flex;
    align-items: center;
    justify-content: right;
}

.some-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile version of down arrow slider. */
.menu-bar {
    display: none;
}

.cross {
    display: none;
}